body {
  background-color: lightblue;
  text-align: center;
}

h1 {
  font-size: 100px;
  font-family: fantasy;
  text-align: center;
}

#temperature-up {
  font-size: 30px;
}

#temperature-down {
  background-color: pink;
}

p {
  font-size: 20px;
  font-family: sans-serif;
}
