body {
  background: linear-gradient(to right, #56CCF2, #2F80ED);
  text-align: center;
  background-size: cover;
}

h1 {
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
}

h2 {
  font-size: 90px;
  font-family: fantasy;
  text-align: center;
}

#current-condition {
  width: 50px;
}

#temperature-up {
    font-size: 10px;
    border-radius: 25px;
    background-color: #FF8A33;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 80px;
    height: 80px;
}

#temperature-down {
    font-size: 10px;
    border-radius: 25px;
    background-color: #FF8A33;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 80px;
    height: 80px;
}

#temperature-reset {
    font-size: 10px;
    border-radius: 25px;
    background-color: #FF8A33;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 80px;
    height: 80px;
}

#switch-power-mode {
      font-size: 10px;
      border-radius: 25px;
      background-color: #FF8A33;
      background-position: left top;
      background-repeat: repeat;
      padding: 20px;
      width: 80px;
      height: 80px;
}

p {
  font-size: 20px;
  font-family: sans-serif;
}

.Low-usage {
  color: #34A853;
}

.Medium-usage {
  color: #3342FF
}

.High-usage {
  color: #FF3333
}
