body {
  background-image: url("../images/earth.jpg");
  text-align: center;
  background-size: cover;
}

h1 {
  font-size: 50px;
  font-family: fantasy;
  text-align: center;
}

h2 {
  font-size: 120px;
  font-family: fantasy;
  text-align: center;
}

#temperature-up {
  font-size: 30px;
  border-style: ridge;
}

#temperature-down {
  background-color: pink;
  border-style: dotted;
}

#temperature-reset {
  font-family: serif;
  font-size: 40px;
  background-color: navy;
  color: white;
}

p {
  font-size: 20px;
  font-family: sans-serif;
}

.Low-usage {
  color: #34A853;
}

.Medium-usage {
  color: #3342FF
}

.High-usage {
  color: #FF3333
}
